.card{
	align-content: center;
	float: inherit;
	width: 50%;
	background: #eae9e9;
	padding: 8px;
	margin : 8px;
}
.card.switch{
	height: 100%;
	overflow: hidden;
}
.card.dropdown{
	float: left;
	color: #fff;
	background: #000;
	width: 40%;
	padding: 8px;
	margin: 8px;
}
.card.question{
	background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 10px;
    top: 20px;
    width: 75%;
    font-size: 18px;
    -webkit-box-shadow: 0 2px 2px 1px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 1px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.card.question:active, .card.question:hover{
	font-weight: bold;
}
.form{
	font-weight: bold;
	padding: 8px;
}


.addButton{
	float :left;
	background: #fff;
	padding: 4px;
	-webkit-box-shadow: 0 2px 2px 1px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 1px rgba(0,0,0,0.2);
    border-radius: 5px;
    margin : 8px;
}

.container {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 10px;
    top: 20px;
    width: 40%;
    font-size: 18px;
    -webkit-box-shadow: 0 2px 2px 1px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 1px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.container:active, .container:hover{
	font-weight: bold;
}

.tilt {
    transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
  }

.SSdropoptions{
	padding: 8px;
	margin: 8px;
	background: #f2f2f2;
}
.p{
	color: lightblue;
	float: right;
	margin-top : 8px;
	margin-left: 16px;
}

.portlet-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
  }

.image{
	height: 16px;
	width: 16px;
	padding: 8px;
}

.fav{
	position: relative;
	height: 20px;
	width: 20px;
	margin:16px;
	float:right;
}
.menu{
	position: relative;
	height: 20px;
	width: 20px;
	margin:16px;
	margin-left: 44px;
	float:right;
}
.menu-options {
	padding: 4px;
	margin-top :36px;
	margin-right: 16px;
	right: 0;
    position: absolute;
    background-color: #000;
    min-width: 200px;
}

.menu-options a {
	color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.remove-menu{
	position: relative;
    display: inline-block;
}



